    <div class="col-sm-3">       
            <h1 class="mb-3">Coming Soon!</h1>
        </div>    
    <div class="col" >
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="100%" height="90%">
            <source src="~/mp4/bg.mp4" type="video/mp4">
        </video>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Coming Soon/jquery/jquery.min.js"></script>
    <script src="~/Coming Soon/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Coming Soon/coming-soon.min.js"></script>
