    @*<div class="col-sm-3">       
            <h1 class="mb-3">Coming Soon!</h1>
        </div>*@    
    <div class="jumbotron" style="margin-top:-10px;">
        <label style="vertical-align:top"><h3>Coming Soon.....</h3></label>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" width="55%"  style="text-align:left;margin-left:5px;">
            <source src="~/mp4/bg.mp4" type="video/mp4">
        </video>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="~/Coming Soon/jquery/jquery.min.js"></script>
    <script src="~/Coming Soon/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Coming Soon/coming-soon.min.js"></script>
