
@{
    ViewBag.Title = "File Review";
}

@model Review_Analyzer.Models.ReviewModel


<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-inline">  
        <label> Browse: </label>
        <input type="file" name="uploadFile" />
        <input id="Submit" type="submit" value="Upload" class="btn btn-primary" />
    
</div>


    <Div>
        @if (Model.ShowSentiments)
        {

            <img src="~/Images/Positive.jpg" alt="Positive" />
            @Html.DisplayFor(x => x.PositiveSentiments);
            <br />
            <br />
            <img src="~/Images/Negative.jpg" alt="Negative" />
            @Html.DisplayFor(x => x.NegativeSentiments);

        }
    </Div>

}
