@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sentiment Analysis</h1>
    <p class="lead">When captured electronically, customer sentiment — expressions beyond facts, that convey mood, opinion, and emotion — carries immense business value. We’re talking the voice of the customer, and of the prospect, patient, voter, and opinion leader.</p>   
</div>

