@{
    ViewBag.Title = "Sentiment Review";
}
@model Review_Analyzer.Models.ReviewModel

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("GetSentiment", "Home", FormMethod.Post))
{
    <label> Review Comments: </label>
    @Html.TextBox("txtReviewCommnent")
    <input id="Submit1" type="submit" value="submit" />
}
<br />
<br />
<img src="@Model.ImageURL" alt="@Model.ImageURL" />
<p>Use this area to provide additional information.</p>
